<div class="row">
  <div class="col-6">
    <mat-card>
      <mat-card-title>Śr. stopień wierzchołka</mat-card-title>
      <mat-card-content>{{networkProp.avgVertexGrade | number: '1.2'}}</mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card>
      <mat-card-title>Średni dł. ścieżki</mat-card-title>
      <mat-card-content>{{networkProp.avgPathLength | number: '1.2'}}</mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row mt-1">
  <div class="col-4">
    <mat-card>
      <mat-card-title>Wsp. gronowania</mat-card-title>
      <mat-card-content>{{networkProp.grape | number: '1.2'}}</mat-card-content>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card>
      <mat-card-title>Przechodniość</mat-card-title>
      <mat-card-content>{{networkProp.globalGrape | number: '1.2'}}</mat-card-content>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card>
      <mat-card-title>Śr. gęstość</mat-card-title>
      <mat-card-content>{{networkProp.avgDensity | number: '1.2' }}</mat-card-content>
    </mat-card>
  </div>
</div>
