$primary-color: #3F51B5;
$primary-lighter: #C5CAE9;
$primary-darker: #303F9F;
$primary-light: #5881ac;
$secondary-color: #8BC34A;

$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;
$text-icons: #fff;

$primary-text-color: #fff;
$secondary-text-color: #cecece;
