<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xl-6 ml-xl-0 pl-xl-0">
      <mat-card>
        <mat-card-title>
          Patenty
        </mat-card-title>
        <mat-card-content>
          <ng-content select="[slot=patent]"></ng-content>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-12 col-xl-6 ml-xl-0 pl-xl-0">
      <mat-card>
        <mat-card-title>
          Publikacje
        </mat-card-title>
        <mat-card-content>
          <ng-content select="[slot=publication]"></ng-content>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
