<app-nested-components>
  <div class="d-flex flex-column" slot="patent">
    <app-network-prop *ngIf="pubsData.graphData | async as pubsData" [networkProp]="pubsData.networkProp"></app-network-prop>
    <app-patent-browser-list></app-patent-browser-list>
  </div>
  <div class="d-flex flex-column" slot="publication">
    <app-network-prop *ngIf="patentData.graphData | async as patentData" [networkProp]="patentData.networkProp"></app-network-prop>
    <app-publication-browser-list></app-publication-browser-list>
  </div>
</app-nested-components>
