@import "./styles/variables";
@import "./styles/global";
@import '~@angular/material/theming';
@import 'styles/main';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/scss/bootstrap';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-smaller {
  font-size: 0.8em;
}
